*.o
*.a
*.so
*.dylib
.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*
.Spotlight-V100
.Trashes
*.swp
*.lock
*~
bacarf
bacdcc
baciamr
bacrbdt
bacrp
bacscov
bacts
bacupt
bacwi
bacwp
bacawf
bacepics
bacinitr
bacrd
bacrpm
bacserv
bacucov
bacwh
bacwir
